<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinais.gnlib.android.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Launcher.LauncherActivity_1"
            android:label="@string/title_activity_launcher_activity_1" >
        </activity>
        <activity
            android:name=".Launcher.LauncherActivity_2"
            android:label="@string/title_activity_launcher_activity_2" >
        </activity>
        <activity
            android:name=".Storage.StorageActivity"
            android:label="@string/title_activity_storage_activity" >
        </activity>
    </application>
</manifest>
